<div class="ac_detail" id="soccer" style="font-size: 16px;">
    <p>Although several experts suggest that it is better <strong><font color="skyblue">to start playing soccer at 8 years old</font></strong>, lots of Australian kids actually start at aged 5. It is better to ask your children whether they have an interest.</p>
    <p><strong><font color="limegreen">Soccer</font></strong> is a safer game without too much contacts, which can combine the fundamental skills such as running and catching. This activity can help <strong><font color="orange">improve cardiovascular health condition</font></strong>.</p>
    <p>For children aged from 5 to 7, an organized soccer game should <strong><font color="red">address fun</font></strong> more than competitiveness.</p>
    <p>Children at <strong><font color="red">age 8</font></strong> can spend around <strong><font color="limegreen">5 hours on a team</font></strong> and other <strong><font color="limegreen">1.5 hour on individual training</font></strong> addressing technical skills per week; for daily session, the length should be no longer than 50 minutes.</p>
    <br>
    <br>
    <strong>Relative website:</strong><br>
    <a href="https://australiansportscamps.com.au/blog/how-to-get-your-kids-aged-5-12-into-soccer/" target="_blank">HOW TO GET KIDS (AGED 5-12) INTO SOCCER</a><br>
    <a href="https://www.tandfonline.com/doi/abs/10.3810/psm.2000.02.699" target="_blank">Exercise and Children's Health</a><br>
    <a href="https://www.usyouthsoccer.org/news/sports_training_-_how_much_is_too_much/" target="_blank">how much is too much</a><br>
    <a href="https://www.amplifiedsoccerathlete.com/coachguide/overtraining-how-much-is-too-much" target="_blank">overtraining how much is too much</a><br>
  </div>
  <div class="ac_detail" id="football" style="font-size: 16px;">
    <p><strong><font color="limegreen">Australian rules football</font></strong> is considered a type of high-intensity sports which helps your kids to strengthen their muscle and keep them focused. Moreover, it can efficiently improve <strong><font color="skyblue">the quality of heart and blood vessels condition</font></strong>.</p><br>
    <p>Australian Football League (AFL) recommends that girls can play in a single-gender football team starting from <strong><font color="skyblue">age 10</font></strong>; however, if your girls want to play in a mixed-gender team, it is better to do so after <strong><font color="skyblue">age 14</font></strong>.</p><br>
    <p>For <strong><font color="skyblue">kids (age 5 to 12)</font></strong> who want to try Australian rules football, Australian Football League (AFL) offers an inclusive Auskick program.</p>
    <br>
    <br>
    <strong>Relative website:</strong><br>
    <a href="https://australiansportscamps.com.au/blog/list-of-year-round-kids-sports/" target="_blank">AUSSIE SPORTS THAT KIDS CAN PLAY ALL YEAR ROUND</a><br>
    <a href="http://www.nutritionaustralia.org/national/resource/cardiovascular-health" target="_blank">Cardiovascular Health</a><br>
    <a href="https://play.afl/juniorfootball" target="_blank">suggestions for australia football</a><br>
    <a href="https://play.afl/auskick" target="_blank">Auskick program</a><br>

</div>
