#upAna{
  /* float: left; */
  text-align: center;
}

#upAna .chart{
  position: relative;
  width: 300px;
  height: 300px;
  margin: 0 auto;
  text-align: center;
  font-size: 30px;
  line-height: 300px;
}

#upAna canvas{
  position: absolute;
  top: 0;
  left: 0;
}

#printLevel{
  font-family: 'Kanit', sans-serif;
}

.bene_risk ul{
  font-family: 'Anton', sans-serif;
  font-size: 25px;
}
.bene_risk li{
  font-family: 'Kanit', sans-serif;
}

.risk_de_rate{
  font-family: 'Kanit', sans-serif;
  color: green;
  
}
