.Home_div{
  width: 100%
}
.OnHomePagePic{
  width: 100%;
  position: absolute;
  top:10%;
  left: 50%;
  transform: translate(-50%, -20%);
}
.WebIntro{
  text-align:center;
  color: white;
  font-family: 'Indie Flower', cursive;
  width: 100%
}
.HomeSwag{
  text-align:center;
  /* margin-left:40%; */
  font-family: 'Lilita One', cursive;
  color: white;
  font-size: 50px;
}
.HomepageBackGround{
  height: 1000px;
  width: 100%;
}

.wrap {
	left: 50%;

	text-align: center;
}

.myButton {
	display: block;
	margin: 20px auto;
	max-width: 300px;
	text-decoration: none;
	border-radius: 4px;
	padding: 20px 30px;
}

a.myButton {
  -webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	color: rgba(30, 22, 54, 0.6);
	box-shadow: rgba(30, 22, 54, 0.4) 0 0px 0px 2px inset;
}

a.myButton:hover {
  -webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	color: rgba(255, 255, 255, 0.85);
	box-shadow: rgba(30, 22, 54, 0.7) 0 0px 0px 40px inset;
}
